server:
  port: 8094

spring:
  application:
    name: PEDIDOSERVICIO
  datasource:
    url: jdbc:postgresql://localhost:5433/pedidodb
    username: admin
    password: admin123
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        ddl-auto: update
        format_sql: true
      database:
        platform: org.hibernate.dialect.PostgreSQLDialect
      show_sql: true